.product-images{
    /* flex-wrap: wrap;
    gap: 14px;
    font-size: small;
    margin-top: 22px;
    justify-content: center; */
    /* height: 50px;
    width: 50px;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: center; */
    /* padding: 20px; */
    font-size: small;
    gap: 8px;
    margin-left: 5%;
}

.product-images img{
    width: 50%;
    height: 50%;
    
}